[package]
name = "openlimits"
version = "0.1.0"
authors = ["steffel <steffel@fenix.email>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.11"
dotenv = "0.15.0"
futures = "0.3.5"
hex = "0.4.2"
hmac = "0.8.1"
log = "0.4.8"
mockito = "0.25.2"
reqwest = { version = "0.10", features = ["json", "blocking"] }
ring = "0.16.15"
sugar = "0.2.0"
serde = { version = "1.0.114", features = ["derive"]}
serde_json = "1.0.55"
serde_urlencoded = "0.6.1"
thiserror = "1.0.20"
tokio = { version = "0.2", features = ["full"] }
tokio-tungstenite = { version = "0.10.1", features = ["tls"]}
tungstenite = "0.11.0"
sha2 = "0.9.1"
url = "2.1.1"
